<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>ServletConfigOrnek</servlet-name>
    <servlet-class>ServletConfigOrnek</servlet-class>
    <init-param>
      <param-name>Marka</param-name>
      <param-value>Renault</param-value>
    </init-param>
    <init-param>
      <param-name>Model</param-name>
      <param-value>Toros</param-value>
    </init-param>
    <init-param>
      <param-name>Renk</param-name>
      <param-value>Buz Beyazı</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigOrnek</servlet-name>
    <url-pattern>/ServletConfigOrnek</url-pattern>
  </servlet-mapping>
</web-app>